* {
    font-family: Verdana, Arial, sans-serif;
}
a {
    color: #70579D;
}
#main
{
    max-width: 800px;
    margin: auto;
}
.article{
    border: 1px solid #E8E8E8;
    border-radius: 12px;
    width: auto;
    margin: 0 0 10px 0;
    padding: 10px 12px;
    background-color: #ffffff;
}
.article-name h1{
    font-size: 24px;
    font-family: 'Bangers', cursive;
    letter-spacing: 3px;
    margin-bottom: 0;

}
.article-opt
{
    border-radius: 50%;
    float: right;
    height: 24px;
    text-align: center;
    width: 24px;
    line-height: 3.5;
}
.article-opt:hover
{
    color:red;
}
.article-overview
{
    font-size:75%;

}
.article-overview a
{
    text-decoration: none;

}
.article-overview a:hover
{
    text-decoration: underline;

}