#main {
  max-width: 420px;
    margin: auto;
    border-radius: unset;
    cursor:pointer;
    box-shadow: 10px 10px 21px 0px

}
.pet {
  max-width: fit-content;
  border: solid;
  border-radius: initial;

}